.root {
    -fx-background-color: white;
    -fx-text-fill: #404040;
}

.label{
}

.check-box{
}

.button{
}

.fontStyle{
}

.hbox {
}

.borders{
}

.jfx-check-box {
     -jfx-checked-color: #1759E0;
     -jfx-unchecked-color: #707070;
}

.jfx-toggle-button {
     -jfx-toggle-color: #1759E0;
     -jfx-toggle-line-color: #999999;
     -jfx-untoggle-color: #FAFAFA;
     -jfx-untoggle-line-color: #999999;
     -jfx-size: 10.0;
     -jfx-disable-visual-focus: false;
}

.jfx-button {
     -jfx-button-type: RAISED;
     -fx-background-color: #1759E0;
     -fx-text-fill: white;
}

.ptt-button {
    -fx-font-size: 25;
    -fx-background-radius: 60;
}

.jfx-combo-box {
    -fx-background-radius: 5;
    -fx-font-size: 13;
    -fx-background-color: #E0E0E0;
}

